
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
.venv/
venv/
.env
.env.*
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Tools
coverage.xml
.cache/
.hf_cache/
hf-cache/
